#nav-search {
    visibility: hidden;
}

#about-container {
    color: white;
    width: 60vw;
    height: 60vh;
    position: absolute;
    left: 20vw;
    top: 10vh;
    
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: left;
}

.about-content {
    display: block;
    padding: 10px 20px;
    margin: 20px;
}

#about-content-h{
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    font-size: 2em;
}

#about-content-text{
    background-color: rgba(0, 0, 0, 0.5);

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 200;
    display: inline-block;
}

#about-content-team{
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

#team-header, .team-member {
    width: 20%;
    padding: 5px;
    margin: 5px;
}

#team-header h2 {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: x-large;
}

.team-member{
    background-color: rgba(0, 0, 0, 0.5);
    
    display: flex;
    flex-direction: column;
    height: max-content;
}

.team-member-name, .team-member-role, .team-member-button {
    display: block;
}

.team-member-name {
    font-size: medium;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.team-member-role {
    font-size: small;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.team-member-button button {
    background-color: rgb(45, 45, 139);
    color: rgb(255, 255, 255);

    padding: 5px 20px;
    margin: 5px 0px;
    width: 90%;
    
    border: none;
    border-radius: 10px;

    font-size: medium;
    font-weight: light;
}

