#nav-search {
    visibility: hidden;
}

#contact-container {
    color: white;
    width: 70vw;
    height: 40vh;
    position: absolute;
    left: 20vw;
    top: 30vh;
    
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.contact-content {
    display: block;
    padding: 10px 0px;
    margin: 0px;
}

.contact-content h1{
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 3em;
}

.contact-content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
}

.contact-form {
    width: 40%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);

}

.contact-form input, .contact-form textarea {
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: thin;

    display: inline-block;
    width: 100%;

    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.contact-form button {
    background-color: rgb(45, 45, 139);
    color: rgb(255, 255, 255);

    padding: 5px 20px;
    margin: 5px 0px;
    width: 100%;
    
    border: none;
    border-radius: 10px;

    font-size: medium;
    font-weight: light;
}